.container {
   background-color: rgb(207, 207, 207);
   border-radius: 10px;
   text-align: center;
   margin-top: 10px;
   padding: 20px;
}

.btnsContainer {
   display: flex;
   justify-content: center;
   gap: 10px;
}
